*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color:hwb(0 7% 93%);
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid rgba(255, 129, 18, 0.267);
    color: hwb(187 21% 0%);
}

.heading span{
    color: #ec0cb0;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid rgba(246, 102, 25, 0.267);
    color: rgb(27, 255, 244);
}

.title span{
    color: hsl(308, 88%, 49%);
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid rgba(229, 102, 5, 0.267);
    color: #17eeea;
}
.head span{
    color: #eb0be4;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid rgba(232, 102, 9, 0.267);
    color: rgb(215, 76, 12);
}
.pro span{
    color: #f411da;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:#fa05b5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid;
}

header .user .nm{
    font-size:2rem;
    color: hwb(185 6% 0%);
}

header .user .jb{
    font-size:1rem;
    color: hwb(175 9% 11%);
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: hwb(22 3% 3%);
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    background-color:hwb(25 1% 5%);
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: #ef741ce9;
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span{
    color: hwb(178 9% 9%);
    padding: 0. 5rem;
}
table,th,td{
    border: 1px solid rgb(203, 232, 11);
    border-collapse: collapse;
}
td{
    color: hsl(175, 91%, 52%);
    padding: 1rem;
}
th{
    color: #f07f06;
    padding: 1rem;
}
table{
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: rgb(16, 216, 247);
}
#lis li{
    margin: 0 9rem;
    color: #0de9f5;
    font-size: medium;
    padding: .5rem 1rem;
}
.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: rgb(239, 125, 4);
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    color: hwb(184 4% 4%);
    padding: 0. 5rem;
}